{
   "libraries": [
     {
       "file": "/usr/lib/libmesos_dvdi_isolator-{{mesos_version}}.so",
       "modules": [
         {
           "name": "com_emccode_mesos_DockerVolumeDriverIsolator",
           "parameters": [
            {
              "key": "isolator_command",
              "value": "/emc/dvdi_isolator"
            }
          ]
         }
       ]
     }
   ]
 }
