# {{ansible_managed}}

export  MESOS_MASTER="zk://{{ zookeeper_peers_nodes }}/mesos"
export  MESOS_ZK="zk://{{ zookeeper_peers_nodes }}/mesos"
export  MESOS_EXECUTOR_REGISTRATION_TIMEOUT="{{ mesos_executor_registration_timeout }}"
export  MESOS_CONTAINERIZERS="{{ mesos_containerizers }}"
export  MESOS_LOG_DIR="{{ mesos_log_dir }}"
export  MESOS_IP="{{ mesos_ip }}"
export  MESOS_WORK_DIR="{{ mesos_slave_work_dir }}"
export  MESOS_HOSTNAME="{{ mesos_ip }}"
{% if   mesos_enable_dvdi_mod == true %}
export  MESOS_MODULES="file:///usr/lib/dvdi-mod.json"
export  MESOS_ISOLATION="com_emccode_mesos_DockerVolumeDriverIsolator"
{% endif %}
