MESOS_HOSTNAME={{ mesos_hostname }}
MESOS_IP={{ mesos_ip }}
MESOS_CLUSTER={{ mesos_cluster_name }}
MESOS_ZK=zk://{{ zookeeper_peers_nodes }}/mesos
MESOS_LOG_DIR={{ mesos_log_dir }}
MESOS_QUORUM={{ mesos_quorum }}
MESOS_WORK_DIR={{ mesos_master_work_dir }}
MESOS_OFFER_TIMEOUT={{ mesos_master_offer_timeout }}
