# {{ansible_managed}}

MESOS_MASTER="zk://{{ zookeeper_peers_nodes }}/mesos"
MESOS_ZK="zk://{{ zookeeper_peers_nodes }}/mesos"
MESOS_EXECUTOR_REGISTRATION_TIMEOUT="{{ mesos_executor_registration_timeout }}"
MESOS_CONTAINERIZERS="{{ mesos_containerizers }}"
MESOS_LOG_DIR="{{ mesos_log_dir }}"
MESOS_IP="{{ mesos_ip }}"
MESOS_WORK_DIR="{{ mesos_slave_work_dir }}"
MESOS_HOSTNAME="{{ mesos_ip }}"
{% if   mesos_enable_gpu_support == true %}
MESOS_IMAGE_PROVIDERS="docker"
{% endif %}
{% if mesos_isolation %}
MESOS_ISOLATION={{mesos_isolation|join(',')}}
{% endif %}
