MESOS_HOSTNAME={{ mesos_hostname }}
MESOS_IP={{ mesos_ip }}
MESOS_CLUSTER={{ mesos_cluster_name }}
MESOS_ZK=zk://{{ zookeeper_peers_nodes }}/mesos
MESOS_LOG_DIR={{ mesos_log_dir }}
MESOS_QUORUM={{ mesos_quorum }}
MESOS_WORK_DIR={{ mesos_master_work_dir }}
MESOS_OFFER_TIMEOUT={{ mesos_master_offer_timeout }}
{% if mesos_authenticate_http == true %}
MESOS_AUTHENTICATE_HTTP_READWRITE=true
MESOS_AUTHENTICATE_HTTP_READONLY=true
MESOS_CREDENTIALS={{mesos_master_work_dir}}/credentials
{% endif %}
{% if mesos_enable_ssl == true %}
SSL_ENABLED=1
SSL_KEY_FILE={{mesos_ssl_key_file}}
SSL_CERT_FILE={{mesos_ssl_cert_file}}
SSL_REQUIRE_CERT={{mesos_ssl_require_cert|bool|lower}}
SSL_SUPPORT_DOWNGRADE={{mesos_ssl_support_downgrade|bool|lower}}
LIBPROCESS_SSL_CIPHERS={{mesos_ssl_ciphers}}
{% endif %}
