# {{ansible_managed}}

export  MESOS_MASTER="zk://{{ zookeeper_peers_nodes }}/mesos"
export  MESOS_ZK="zk://{{ zookeeper_peers_nodes }}/mesos"
export  MESOS_EXECUTOR_REGISTRATION_TIMEOUT="{{ mesos_executor_registration_timeout }}"
export  MESOS_CONTAINERIZERS="{{ mesos_containerizers }}"
export  MESOS_LOG_DIR="{{ mesos_log_dir }}"
export  MESOS_IP="{{ mesos_ip }}"
export  MESOS_WORK_DIR="{{ mesos_slave_work_dir }}"
export  MESOS_HOSTNAME="{{ mesos_ip }}"
{% if   mesos_enable_dvdi_mod == true %}
export  MESOS_MODULES="file:///usr/lib/dvdi-mod.json"
{% endif %}
{% if   mesos_enable_gpu_support == true %}
export  MESOS_IMAGE_PROVIDERS="docker"
{% endif %}
{% if mesos_isolation %}
export  MESOS_ISOLATION={{mesos_isolation|join(',')}}
{% endif %}
export  MESOS_ATTRIBUTES={{mesos_slave_attributes}}
