---
# {{ ansible_managed }}
rexray:
  logLevel: warn
libstorage:
  service: cinder
  server:
    services:
      cinder:
        driver: cinder
  integration:
    volume:
      operations:
        mount: 
          preempt: true
cinder:
  authURL: {{ mesos_rexray_os_authurl }}
  userName: {{ mesos_rexray_os_username }}
  password: {{ mesos_rexray_os_password }}
  tenantName: {{ mesos_rexray_os_tenantname }}
  domainName: {{mesos_rexray_os_domainname}}
  regionName: {{ mesos_rexray_os_regionname }}
  availabilityZoneName: {{ mesos_rexray_os_availabilityzonename }}

